body {
}

.theme-bg{
  background-color: #f8f8f8;
}

.input-left-icon{
  font-size: 30px;
}
.input-right-icon{
  font-size: 30px;
  padding: 0px;
}
.input-right-icon-close{
  font-size: 20px;
  position: absolute;
  top: 18px;
  right: 10px;
  z-index: 3;
}

.nb-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**start 用户中心**/
.user {

}

/**end 用户中心**/

/**start 用户信息**/
.user-info {
}

.user-info .user-img {
  padding: 6px;
  padding-left: 16px;
  padding-right: 54px;
}

.user-info .user-img .user-img-name {
  display: inline-block;
  height: 40px;
  padding-top: 12px;
}

.user-info .user-img .user-img-pic {
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  float: right;
}

/**end 用户信息**/


/**start 登录**/
.login{
}


/**end 登录**/

/**start 注册**/
.register{
}


/**end 注册**/

/**start 商家**/
.business{
}
/**end 商家**/

/**start 订单**/
.orders{
}
/**end 订单**/
