<ion-view view-title="修改密码" hide-back-button="true" cache-view="false">
  <ion-nav-buttons side="left">
    <button class="button  button-clear"
            ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content class="padding-vertical theme-bg register">
    <div class="theme-bg list list-inset">
      <label class="item item-input">
        <i class="icon ion-ios-unlocked-outline placeholder-icon input-left-icon"></i>
        <input type="password" placeholder="请输入旧密码" ng-model="user.oldPassword"/>
      </label>
      <i class="icon ion-ios-close placeholder-icon input-right-icon-close"
         ng-if="user.oldPassword"
         ng-click="user.oldPassword = '';user.newPassword = '';user.confirmPassword = ''"></i>
      <label class="item item-input">
        <i class="icon ion-ios-unlocked-outline placeholder-icon left-icon input-left-icon"></i>
        <input type="password" placeholder="请输入新密码" ng-model="user.newPassword"/>
      </label>
      <i class="icon ion-ios-close placeholder-icon input-right-icon-close"
         style="top:70px;"
         ng-if="user.newPassword"
         ng-click="user.newPassword = ''"></i>
      <label class="item item-input">
        <i class="icon ion-ios-unlocked-outline placeholder-icon left-icon input-left-icon"></i>
        <input type="password" placeholder="请输入确认密码" ng-model="user.confirmPassword"/>
      </label>
      <i class="icon ion-ios-close placeholder-icon input-right-icon-close"
         style="top:125px;"
         ng-if="user.confirmPassword"
         ng-click="user.confirmPassword = ''"></i>

      <button class="button button-full button-positive" ng-click="commit()">
         确认提交
      </button>
    </div>

  </ion-content>
</ion-view>
